name: sips-connect
services:
  portal:
    build:
      context: .
      dockerfile: Dockerfile
      target: runner
    ports:
      - "3000:3000"
    environment:
      - NEXTJS_TLS_CERT=/app/certs/tls.crt
      - NEXTJS_TLS_KEY=/app/certs/tls.key
    restart: always
    volumes:
      - ./certs:/app/certs:ro
      - ./db.json:/app/db.json:rw
    entrypoint: ["/bin/sh", "/app/entrypoint-https.sh"]
    networks:
      - sips-network

networks:
  sips-network:
    driver: bridge